# --- Python ---
__pycache__/
*.pyc

# --- Environment ---
.env

# --- VS Code ---
.vscode/

# --- Machine learning / models ---
*.gguf
*.pt

# --- Visual Studio (optional but safe) ---
*.rsuser
*.suo
*.user
*.pdb
*.dll
*.exe
bin/
obj/

# --- OS / misc ---
.DS_Store

#folders to ignore
models/
custom_car_dataset/
test_dataset_unseen/
debug_results/
failures/
UsefulPhotos/
output_crops/
data/
torchreid/
models/vehicle_Re-ID_Kaggle_result/